<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/IMG_8158.ico">
    <title>Title</title>
</head>
<body>


<p style="font-size:50px;text-align:center;">Here you are!</p>

<button style="position:relative;left:500px;top:-20px;background-color:#90AFC5;  border: none;
  color: white;
  padding: 10px 28px;  font-size: 21px;" >
    <a href="/WorldGame.html" style="text-decoration:none; color:white;">
       <- Back to test
    </a>
</button>



<p style="color: #336B87;font-size:45px;position:relative;left:750px;top:-110px;">
    <span th:text="${corect}"></span>
    /
    <span th:text="${din}"></span>
</p>



</body>
</html>