<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Print</title>
  <link rel="stylesheet" type="text/css" href="print.css" media="print" />
</head>
<body>
<br>

<span style="white-space: pre-line" th:text="${text}" id="obj"></span>

<hr>

<style type="text/css" media="print">
   .no-print { display: none; }
</style>

<div  class="no-print">
    <button onclick="window.print()" style="background-color: #336B87;border: none;
  color: white;
  padding: 13px 20px; font-size: 12px;">Print this quiz</button>

    <button style="background-color:#763626;border: none;
color: white;
padding: 15px 35px;  font-size: 12px;decoration:none;"><a href="/WorldGame.html" style="  text-decoration: none;color:white;" >Go to main page</a></button>
</div>


</body>
</html>