<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/IMG_8158.ico">
    <title>Title</title>
</head>
<body>

<br><br>
<p style="text-align:center;font-size:30px"><b>Select type of Game</b></p>

<form action="/select" style="text-align:center;font-size:25px" method="POST">

    <input type="radio" id="key" name="type" value="key">
    <label for="key">Test only key</label><br>

    <input type="radio" id="value" name="type" value="value">
    <label for="value">Test only value</label><br>

    <input type="radio" id="random" name="type" value="random">
    <label for="random">Random(both of them)</label><br><br>

    <label for="nr">Nr of set(1set= test all words)</label><br>
    <input type="number" id="nr" name="nr" value="1" max="10"><br><br>


    <input type="submit" value="Continue" style="background-color: #336B87;border: none;
  color: white;
  padding: 10px 30px;  font-size: 16px;">
</form>

<button style="background-color: #2A3132;border: none;
  color: white;
  padding: 8px 16px; font-size: 12px;position:relative;left:675px;top:10px;">
    <a href="/WorldGame.html" style="text-decoration:none;color:white">
        <i><- Back</i>
    </a>

</button>






</body>
</html>